<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PlayLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--App Configuration Values-->
    <add key="SongFieldsToSave" value="Type,שנה,Choreographer"/>
    <add key="CanDeleteSongs" value="False"/>
    <add key="LastPlayedXmlDir" value=""/>
    <add key="PlayLocation" value=""/>
    <add key="IsSettingEditable" value="False"/>
    <add key="ViewScale" value="1"/>
    
    <!--DataBase Configuration Values-->
    <add key="DbServer" value="sql11.freemysqlhosting.net"/>
    <add key="DbName" value="sql11204581"/>
    <add key="DbUserName" value="sql11204581"/>
    <add key="DbPassword" value="fxTUJz25va"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <PlayLogger.Properties.Settings>
      <setting name="SongFieldsToSave" serializeAs="String">
        <value />
      </setting>
      <setting name="CanDeleteSongs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastPlayedXmlDir" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="IsSettingEditable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </PlayLogger.Properties.Settings>
  </userSettings>
</configuration>
