<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PlayLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--App Configuration Values-->
    <add key="SongFieldsToSave" value="Type,שנה,יוצר"/>
    <add key="auto_refresh_min" value="10"/>
    
    
    <!--DataBase Configuration Values-->

    <add key="DbType" value="Postgresql"/>
    <add key="DbServer" value="ec2-54-163-233-103.compute-1.amazonaws.com"/>
    <add key="DbPort" value="5432"/>
    <add key="DbName" value="d69644deqjt63m"/>
    <add key="DbUserName" value="auyrqioiytehij"/>
    <add key="DbPassword" value="2a443b87a7023ad16229ab06cf6a83a489e2336d71ef8adaf69f23924a9d70bc"/>
    
    <!--
    <add key="DbType" value="MySql"/>
    <add key="DbServer" value="sql11.freemysqlhosting.net"/>
    <add key="DbName" value="sql11204581"/>
    <add key="DbUserName" value="sql11204581"/>
    <add key="DbPassword" value="fxTUJz25va"/>
    -->
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <PlayLogger.Properties.Settings>
      <setting name="SongFieldsToSave" serializeAs="String">
        <value />
      </setting>
      <setting name="CanDeleteSongs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastPlayedXmlDir" serializeAs="String">
        <value>C:\AMPS\vmmplay</value>
      </setting>
      <setting name="PlayLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="IsSettingEditable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </PlayLogger.Properties.Settings>
  </userSettings>
</configuration>
