<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--App Configuration Values-->
    <add key="SongFieldsToSave" value="Type,שנה,Choreographer"/>
    <add key="CanDeleteSongs" value="True"/>
    <add key="LastPlayedXmlDir" value=""/>
    <add key="PlayLocation" value=""/>
    <!--DataBase Configuration Values-->
    <add key="DbServer" value="sql11.freemysqlhosting.net"/>
    <add key="DbName" value="sql11204581"/>
    <add key="DbUserName" value="sql11204581"/>
    <add key="DbPassword" value="fxTUJz25va"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
